<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
		<h1>Delete Account</h1>
		<div class="col-lg-8 m-auto d-block">
			<form method="POST" class="form-horizontal" id="contact_form">{% csrf_token %}
				{{success}}
				{{mailDoesnotExist}}
				<div class="form-group">
					<label>Email :</label>
					<input type="text" name="email" class="form-control" id="email">
					<span id="email1" class="text-danger font-weight-bold"></span>
				</div>
				<div class="form-group">
					<label>Password :</label>
					<input type="password" name="mypassword" class="form-control" id="Password">
					<span id="Password1" class="text-danger font-weight-bold"></span>
				</div>
				<input type="submit" name="submit" value="submit" class="btn btn-successzxs">
			</form>
		</div>
	</div>
</body>
</html>