{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>
<body>
	<div class="col-lg-8 m-auto d-block">

		<h1>Enter details Here</h1>
		<div class="col-lg-8 m-auto d-block">
		<form method="POST" class="form-horizontal" action=""  id="contact_form">{% csrf_token %}
			<div class="form-group">
				<label>Email_id :</label>
				<input type="email" name="email" class="form-control" id="email">
				{{Email_missmatch}}
				
			</div>
			<!-- <div class="form-group">
				<label>Mobile Number :</label>
				<input type="text" name="number" class="form-control" id="number">
				{{phone_missmatch}}
				
			</div>
 -->
			<input type="submit" name="submit" value="submit" class="btn btn-success">
		
			
		</form>
	</div>

</body>
</html>