<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forgot password</title>
</head>
<body>
<h3>please enter your name</h3>
<div class="col-lg-8 m-auto d-block">
		<form method="POST" class="form-horizontal" action=""  id="contact_form" onsubmit="return validation()">{% csrf_token %}
			<div class="form-group">
				<label>Name :</label>
				<input type="text" name="username" class="form-control" id="Name">
				<span id="Name1" class="text-danger font-weight-bold"></span>
                <input type="submit" name="submit" value="submit" class="btn btn-success">


			</div>
        </form>
</body>
</html>