<form action="/signup/" method="post">
    {% csrf_token %}
  <table >

      <tr>
	        <th>
	
			{{ form.firstname.label_tag }}</th>
	        <td>      
		          {{ form.firstname }}
	        </td>
	    </div>	
      </tr>
      <tr>
	        <th>
	
			{{ form.lastname.label_tag }}</th>
	        <td>
		          {{ form.lastname }}
	        </td>
	    </div>	
      </tr>

      <tr>
	        <th>
	
			{{ form.email.label_tag }}</th>
	        <td>      {{ form.email }}
	        </td>
	    </div>	
      </tr>
      <tr>
	        <th>
	
			{{ form.password.label_tag }}</th>
	        <td>
		         {{ form.password}}
	        </td>
	    </div>	
      </tr>


       <tr>
	        <th>
	
			{{ form.confirmpassword.label_tag }}</th>
	        <td>
		          {{ form.confirmpassword}}
				
	        </td>
	    </div>	
      </tr>

  </table>

    <input type="submit" value="Submit" />

{% for field in form.visible_fields%}
          {% if field.errors %}
            <ul>
              {% for error in field.errors %}
                <li>{{ field.label_tag }}<font color="red">{{ error }}</font></li>
              {% endfor %}
            </ul>
          {% endif %}
{% endfor %}
</form>


